/*header*/
.header{
	padding-top: 20px;
	padding-bottom: 19px;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #F6F8F9;

}
.logo{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	text-transform: uppercase;
	color:#FA6980;
	font-weight: bold;
	padding-right: 92px;
	padding-left: 22px;


}
.navigation{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	vertical-align: middle;
}
.icon{
	vertical-align: middle;

}

body{
	padding-top: 76px;
	background-color:#F6F8F9;
}